@import "bootstrap-sprockets";
@import "bootstrap";

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.product {
	margin-bottom: 20px;

	.product-name {
		font-size: 18px;
		white-space: nowrap;
		overflow-x: hidden;
	}
	.product-description {
		min-height: 8em;
	}
}